<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <style>
            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -10px;
                margin-left: -10px;
            }

            .col-md-6 {
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 10px;
                padding-left: 10px;
            }
        </style>
        <title>Trabalho PA</title>
    </head>
    <body>
        <header>
            <h1>Music Mentor</h1>
        </header>
        <main>

            <h2>Como funciona?</h2>
            <ol>
                <li>Abra o player do <a href="https://open.spotify.com/" target="_blank">Spotify</a></li>
                <li>Pesquisar música desejada</li>
                <li>Copiar o ID pela URL</li>
            </ol>

            <br>
            <img src="../static/spotify.png" />
            <br>
            <br>

            <form method="POST">
                <input type="text" id="track_id" name="track_id" placeholder="ID da música"><br>
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" id="danceability" name="danceability" value="danceability">
                        <label for="danceability">Dançabilidade</label><br>
                
                        <input type="checkbox" id="energy" name="energy" value="energy">
                        <label for="energy">Energia</label><br>
                
                        <input type="checkbox" id="instrumentalness" name="instrumentalness" value="instrumentalness">
                        <label for="instrumentalness">Instrumentalidade</label><br>
                    </div>
                
                    <div class="col-md-6">
                        <input type="checkbox" id="speechiness" name="speechiness" value="speechiness">
                        <label for="speechiness">Expressividade</label><br>
                
                        <input type="checkbox" id="liveness" name="liveness" value="liveness">
                        <label for="liveness">Vivacidade</label><br>
                
                        <input type="checkbox" id="valence" name="valence" value="valence">
                        <label for="valence">Valência</label><br>
                    </div>
                </div>
                
                <input type="submit" value="Enviar">
            </form>


            <h2>Sua Música</h2>
            <div>
                {% if your_song %}
                <iframe style="border-radius:12px" 
                src="{{ your_song }}"
                width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; 
                clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                {% endif %}
            </div>

            

            <h2>Recomendações:</h2>
            <div>
                {% if recommendations_links %}
                {% for rec_link in recommendations_links %}
                    <iframe style="border-radius:12px" 
                    src="{{ rec_link }}"
                    width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; 
                    clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                {% endfor %}
                {% endif %}
            </div>
        </main>
    </body>
</html>
